body{
  background:#eee;
}
.card {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: 1rem;
}
.img-thumbnail {
  padding: .25rem;
  background-color: #ecf2f5;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
}
.avatar-lg {
  height: 150px;
  width: 150px;
}
.btn-container{
  background:#fff;
  border-radius:5px;
  padding-bottom:20px;
  margin-bottom:20px;
  }
.white{
  color:white;
  }
  .imgupload{
  color:#1E2832;
  padding-top:40px;
  font-size:7em;
  }
  #namefile{
  color:red;
  }
  h4>strong{
  color:#ff3f3f
  }
    
  /*these two are set to not display at start*/
  .imgupload.ok{
    display:none;
    color:green;
    }
    .imgupload.stop{
    display:none;
    color:red;
    }
.success-inner {
  display: inline-block;
}
.success-inner h1 {
	font-size: 100px;
	text-shadow: 3px 5px 2px #3333;
	color: #006DFE;
	font-weight: 700;
}
#fileup{
  width:200px;
  cursor: pointer;
  left: 50%;
  bottom: 40px;
  height: 50px;
  }
  #submitbtn{
    padding:5px 50px;
  }
  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f9fb;
  transition:opacity 0.75s,
  visibility 0.75s;
 }
 .loader-hidden{
  opacity: 0;
  visibility: hidden;
 }

 .loader::after{
  content:"";
  width: 75px;
  height: 75px;
  border:15px solid #dddddd;
  border-top-color: #7449f5;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
 }
 @keyframes loading{
  from{
    transform: rotate(0turn);
  }
  to{
    transform: rotate(1turn);
  }
 }