/*just bg and body style*/
.container{
  background-color:#1E2832;
  padding-bottom:20px;
  margin-top:10px;
  border-radius:5px;
  }
  .center{
  text-align:center;  
  }
  #top{
  margin-top:20px;  
  }
  .btn-container{
  background:#fff;
  border-radius:5px;
  padding-bottom:20px;
  margin-bottom:20px;
  }
  .white{
  color:white;
  }
  .imgupload{
  color:#1E2832;
  padding-top:40px;
  font-size:7em;
  }
  #namefile{
  color:black;
  }
  h4>strong{
  color:#ff3f3f
  }

  
  /*these two are set to not display at start*/
  .imgupload.ok{
  display:none;
  color:green;
  }
  .imgupload.stop{
  display:none;
  color:red;
  }
  
  
  /*this sets the actual file input to overlay our button*/ 
  #fileup{


  width:200px;
  cursor: pointer;
  left: 50%;
  bottom: 40px;
  height: 50px;
  }
  
  /*switch between input and not active input*/
  #submitbtn{
    padding:5px 50px;
  }
  #fakebtn{
    padding:5px 40px;
  }
  
  
  /*www.emilianocostanzo.com*/
  #sign{
    color:#1E2832;
    position:fixed;
    right:10px;
    bottom:10px;
    text-shadow:0px 0px 0px #1E2832;
    transition:all.3s;
  }
  #sign:hover{
    color:#1E2832;
    text-shadow:0px 0px 5px #1E2832;
  }
  .loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fb;
    transition:opacity 0.75s,visibility 0.75s;
   }
   .loader-hidden{
    opacity: 0;
    visibility: hidden;
   }

   .loader::after{
    content:"";
    width: 75px;
    height: 75px;
    border:15px solid #dddddd;
    border-top-color: #7449f5;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
   }
   @keyframes loading{
    from{
      transform: rotate(0turn);
    }
    to{
      transform: rotate(1turn);
    }
   }
